# npm
node_modules
package-lock.json
# *.log
# *.gz
# logs

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

.DS_Store
.env

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.idea/*
```
